openapi: 3.1.0
info:
  title: Flutterwave Banks AccountResolution Rates API
  description: 'Flutterwave v4 reference data APIs for supported banks, bank branches,

    mobile networks, and bank account name resolution. These endpoints are

    used to populate dropdowns and validate destination accounts before

    initiating payouts.

    '
  version: 4.0.0
  contact:
    name: Flutterwave
    url: https://developer.flutterwave.com
    email: developers@flutterwavego.com
  license:
    name: Flutterwave Terms of Service
    url: https://flutterwave.com/us/terms
servers:
- url: https://api.flutterwave.cloud/f4b/production
  description: Production
- url: https://api.flutterwave.cloud/f4b/sandbox
  description: Sandbox
security:
- OAuth2: []
tags:
- name: Rates
  description: Real-time FX conversion rates for international transfers.
paths:
  /transfers/rates:
    post:
      summary: Rate Conversion
      description: Retrieve transfer rate for international transfers.
      operationId: createTransferRate
      tags:
      - Rates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateRequest'
      responses:
        '200':
          description: Rate Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rate'
  /transfers/rates/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      summary: Fetch Converted Rate
      operationId: getTransferRate
      tags:
      - Rates
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rate'
components:
  schemas:
    Rate:
      type: object
      properties:
        id:
          type: string
        rate:
          type: number
        source_currency:
          type: string
        destination_currency:
          type: string
        source_amount:
          type: number
        destination_amount:
          type: number
        expiry_datetime:
          type: string
          format: date-time
    RateRequest:
      type: object
      required:
      - source_currency
      - destination_currency
      - source_amount
      properties:
        source_currency:
          type: string
        destination_currency:
          type: string
        source_amount:
          type: number
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://idp.flutterwave.com/realms/flutterwave/protocol/openid-connect/token
          scopes: {}
