openapi: 3.1.0
info:
  title: Flutterwave Banks AccountResolution Fees API
  description: 'Flutterwave v4 reference data APIs for supported banks, bank branches,

    mobile networks, and bank account name resolution. These endpoints are

    used to populate dropdowns and validate destination accounts before

    initiating payouts.

    '
  version: 4.0.0
  contact:
    name: Flutterwave
    url: https://developer.flutterwave.com
    email: developers@flutterwavego.com
  license:
    name: Flutterwave Terms of Service
    url: https://flutterwave.com/us/terms
servers:
- url: https://api.flutterwave.cloud/f4b/production
  description: Production
- url: https://api.flutterwave.cloud/f4b/sandbox
  description: Sandbox
security:
- OAuth2: []
tags:
- name: Fees
  description: Retrieve Flutterwave's fee calculation for a transaction.
paths:
  /fees:
    get:
      summary: Retrieve Fees
      description: Retrieve transaction fees for a payment amount, currency, and method combination.
      operationId: getFees
      tags:
      - Fees
      parameters:
      - in: query
        name: amount
        required: true
        schema:
          type: number
      - in: query
        name: currency
        required: true
        schema:
          type: string
      - in: query
        name: payment_method
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fee'
components:
  schemas:
    Fee:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
        fee:
          type: number
        merchant_fee:
          type: number
        flutterwave_fee:
          type: number
        stamp_duty_fee:
          type: number
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://idp.flutterwave.com/realms/flutterwave/protocol/openid-connect/token
          scopes: {}
