openapi: 3.2.0
info:
  title: Flutterwave Banks AccountResolution Settlements API
  description: 'Flutterwave v4 reference data APIs for supported banks, bank branches,

    mobile networks, and bank account name resolution. These endpoints are

    used to populate dropdowns and validate destination accounts before

    initiating payouts.'
  version: 4.0.0
  contact:
    name: Flutterwave
    url: https://developer.flutterwave.com
    email: developers@flutterwavego.com
  license:
    name: Flutterwave Terms of Service
    url: https://flutterwave.com/us/terms
servers:
- url: https://api.flutterwave.cloud/f4b/production
  description: Production
- url: https://api.flutterwave.cloud/f4b/sandbox
  description: Sandbox
security:
- OAuth2: []
tags:
- name: Settlements
  description: List and retrieve merchant settlements.
paths:
  /settlements:
    get:
      summary: List Settlements
      operationId: listSettlements
      tags:
      - Settlements
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementList'
  /settlements/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      summary: Retrieve A Settlement
      operationId: getSettlement
      tags:
      - Settlements
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
components:
  schemas:
    SettlementList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
    Settlement:
      type: object
      properties:
        id:
          type: string
        gross_amount:
          type: number
        fee:
          type: number
        net_amount:
          type: number
        currency:
          type: string
        status:
          type: string
        reference:
          type: string
        period_start:
          type: string
          format: date-time
        period_end:
          type: string
          format: date-time
        created_datetime:
          type: string
          format: date-time
  parameters:
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
        default: 1
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://idp.flutterwave.com/realms/flutterwave/protocol/openid-connect/token
          scopes: {}
