openapi: 3.1.0
info:
  title: Flutterwave Banks AccountResolution API
  description: 'Flutterwave v4 reference data APIs for supported banks, bank branches,

    mobile networks, and bank account name resolution. These endpoints are

    used to populate dropdowns and validate destination accounts before

    initiating payouts.

    '
  version: 4.0.0
  contact:
    name: Flutterwave
    url: https://developer.flutterwave.com
    email: developers@flutterwavego.com
  license:
    name: Flutterwave Terms of Service
    url: https://flutterwave.com/us/terms
servers:
- url: https://api.flutterwave.cloud/f4b/production
  description: Production
- url: https://api.flutterwave.cloud/f4b/sandbox
  description: Sandbox
security:
- OAuth2: []
tags:
- name: AccountResolution
  description: Bank account name resolution before initiating payouts.
paths:
  /bank-account/resolve:
    post:
      summary: Bank Account Look Up
      description: Resolve a customer's bank account information.
      operationId: resolveBankAccount
      tags:
      - AccountResolution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - account_number
              - bank_id
              properties:
                account_number:
                  type: string
                bank_id:
                  type: string
                country:
                  type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
  /wallet-account/resolve:
    post:
      summary: Wallet Account Look Up
      description: Verify wallet account information for a customer.
      operationId: resolveWalletAccount
      tags:
      - AccountResolution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - account_number
              - mobile_network
              properties:
                account_number:
                  type: string
                mobile_network:
                  type: string
                country:
                  type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletAccount'
components:
  schemas:
    WalletAccount:
      type: object
      properties:
        account_number:
          type: string
        account_name:
          type: string
        mobile_network:
          type: string
        country:
          type: string
    BankAccount:
      type: object
      properties:
        account_number:
          type: string
        account_name:
          type: string
        bank_id:
          type: string
        bank_name:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://idp.flutterwave.com/realms/flutterwave/protocol/openid-connect/token
          scopes: {}
