openapi: 3.1.0
info:
  title: Flutterwave Banks AccountResolution Wallets API
  description: 'Flutterwave v4 reference data APIs for supported banks, bank branches,

    mobile networks, and bank account name resolution. These endpoints are

    used to populate dropdowns and validate destination accounts before

    initiating payouts.

    '
  version: 4.0.0
  contact:
    name: Flutterwave
    url: https://developer.flutterwave.com
    email: developers@flutterwavego.com
  license:
    name: Flutterwave Terms of Service
    url: https://flutterwave.com/us/terms
servers:
- url: https://api.flutterwave.cloud/f4b/production
  description: Production
- url: https://api.flutterwave.cloud/f4b/sandbox
  description: Sandbox
security:
- OAuth2: []
tags:
- name: Wallets
  description: Inspect currency wallet balances and statements.
paths:
  /wallet-balances:
    get:
      summary: Fetch Wallet Balance For Multiple Currencies
      operationId: listWalletBalances
      tags:
      - Wallets
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletBalanceList'
  /wallet-balances/{currency}:
    parameters:
    - in: path
      name: currency
      required: true
      schema:
        type: string
        example: NGN
    get:
      summary: Fetch A Currency Wallet Balance
      operationId: getWalletBalance
      tags:
      - Wallets
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletBalance'
  /wallets/statement:
    get:
      summary: Retrieve Wallet Statement
      operationId: getWalletStatement
      tags:
      - Wallets
      parameters:
      - in: query
        name: currency
        required: true
        schema:
          type: string
      - in: query
        name: from
        schema:
          type: string
          format: date
      - in: query
        name: to
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletStatement'
components:
  schemas:
    WalletStatement:
      type: object
      properties:
        currency:
          type: string
        opening_balance:
          type: number
        closing_balance:
          type: number
        entries:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              amount:
                type: number
              type:
                type: string
                enum:
                - credit
                - debit
              narration:
                type: string
              balance_after:
                type: number
              created_datetime:
                type: string
                format: date-time
    WalletBalance:
      type: object
      properties:
        currency:
          type: string
        available_balance:
          type: number
        ledger_balance:
          type: number
        pending_balance:
          type: number
    WalletBalanceList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WalletBalance'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://idp.flutterwave.com/realms/flutterwave/protocol/openid-connect/token
          scopes: {}
