openapi: 3.1.0
info:
  title: Flutterwave Banks AccountResolution MobileNetworks API
  description: 'Flutterwave v4 reference data APIs for supported banks, bank branches,

    mobile networks, and bank account name resolution. These endpoints are

    used to populate dropdowns and validate destination accounts before

    initiating payouts.

    '
  version: 4.0.0
  contact:
    name: Flutterwave
    url: https://developer.flutterwave.com
    email: developers@flutterwavego.com
  license:
    name: Flutterwave Terms of Service
    url: https://flutterwave.com/us/terms
servers:
- url: https://api.flutterwave.cloud/f4b/production
  description: Production
- url: https://api.flutterwave.cloud/f4b/sandbox
  description: Sandbox
security:
- OAuth2: []
tags:
- name: MobileNetworks
  description: Mobile money networks supported by country.
paths:
  /mobile-networks:
    get:
      summary: Retrieve Mobile Networks
      description: Retrieve supported mobile networks by country.
      operationId: listMobileNetworks
      tags:
      - MobileNetworks
      parameters:
      - in: query
        name: country
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileNetworkList'
components:
  schemas:
    MobileNetworkList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MobileNetwork'
    MobileNetwork:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        country:
          type: string
        code:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://idp.flutterwave.com/realms/flutterwave/protocol/openid-connect/token
          scopes: {}
