openapi: 3.2.0
info:
  title: Flutterwave AccountResolution Banks API
  description: 'Flutterwave v4 reference data APIs for supported banks, bank branches,

    mobile networks, and bank account name resolution. These endpoints are

    used to populate dropdowns and validate destination accounts before

    initiating payouts.'
  version: 4.0.0
  contact:
    name: Flutterwave
    url: https://developer.flutterwave.com
    email: developers@flutterwavego.com
  license:
    name: Flutterwave Terms of Service
    url: https://flutterwave.com/us/terms
servers:
- url: https://api.flutterwave.cloud/f4b/production
  description: Production
- url: https://api.flutterwave.cloud/f4b/sandbox
  description: Sandbox
security:
- OAuth2: []
tags:
- name: Banks
  description: Banks and bank branches supported by country.
paths:
  /banks:
    get:
      summary: Retrieve Banks
      description: Retrieve supported banks by country.
      operationId: listBanks
      tags:
      - Banks
      parameters:
      - in: query
        name: country
        required: true
        schema:
          type: string
          example: NG
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankList'
  /banks/{id}/branches:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      summary: Retrieve Bank Branches
      operationId: listBankBranches
      tags:
      - Banks
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchList'
components:
  schemas:
    BankList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Bank'
    Branch:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        bank_id:
          type: string
        swift_code:
          type: string
    Bank:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        code:
          type: string
        country:
          type: string
    BranchList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Branch'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://idp.flutterwave.com/realms/flutterwave/protocol/openid-connect/token
          scopes: {}
